@import '~antd/dist/antd.css';
body{
	background-color: #00004d;
	color: white;
}
.imgHover img:hover  {
  z-index: 10;
  height: 270px;
  width : 350px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
   transition: all 1s ease;
}
.pm img:hover{
	opacity: 0.5;
}

.pm div{
	display: inline-block;
	 width: 20% ;
}

/* MAKING POPULAR ARTIST IMAGE ROUND  */
.pm img{
	border-radius: 50%;
	height: 100%;
	width: 100%;
}


/* .App{
  background-color: #00004d
} */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
